.info-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}
.info-table th, .info-table td:first-child {
    background: var(--content-light-color);
    color: var(--main-dark-color);
}
.info-table th, .info-table td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    padding: 10px 20px;
    border-color: var(--content-light-focus);
}
.info-table td {
    background: #ffffff;
}
.info-field {
    width: 100%;
    margin-bottom: 15px;
    margin-right: auto;
}
.main-info {
    color: var(--main-dark-color)
}
